<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timo.healthcharts">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pie.PieActivity" />
        <activity android:name=".bar.BarActivity" />
        <activity android:name=".line.LineActivity" />
        <activity android:name=".bar.RankBarActivity" />
        <activity android:name=".common.AlarmActivity">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".common.AlarmClockService"
            android:enabled="true"
            android:exported="false"
            android:process=":music" />
        <service android:name=".common.CustomTestService" />

        <receiver android:name=".common.AlarmReceiver">
            <intent-filter>
                <action android:name="alarm_receiver" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".drag.SwipeDeleteActivity" />
        <activity android:name=".drag.DragActivity"></activity>
    </application>

</manifest>